@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100);

header, section, footer, aside, nav, main, article, figure {
	display: block; 
}
body{
	font-family: 'Raleway', sans-serif !important;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6, p{
	font-family: 'Raleway', sans-serif !important;
	margin:0;
}

/*scroll bar styles*/
::selection{
	background: #000;
	color:#fff;
}
::-moz-selection{
	background: #000;
	color:#fff; 
}
::-o-selection {
	background: #000;
	color:#fff; 
}
::-ms-selection {
	background: #000;
	color:#fff;
}
::-webkit-scrollbar{
	width:8px;
	background:#373d44;
	height: 8px
}
::-webkit-scrollbar-thumb{
	background:#00b5d3; 
}
/*scroll bar styles ends*/

.thin-font{
	font-weight: 300 !important;
}
.regular-font{
	font-weight: 400;
}
.bold-font{
	font-weight: 600;
}
.font-size-48{
	font-size:48px;
}
.font-size-32{
	font-size:32px;
}
.font-size-29{
	font-size:29px;
}
.font-size-26{
	font-size:26px;
}
.font-size-23{
	font-size:23px;
}
.font-size-20{
	font-size:20px;
}
.font-size-17{
	font-size:17px;
}
.font-size-14{
	font-size:14px;
}
.font-size-12{
	font-size:12px;
}
.white{
	color:#fff;
}
.blue{
	color:#00b5d3;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.margin-bottom-40{
	margin-bottom: 40px;
}
.margin-bottom-50{
	margin-bottom: 50px;
}
.margin-bottom-60{
	margin-bottom: 60px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-40{
	margin-top: 40px;
}
.margin-top-50{
	margin-top: 50px;
}
.margin-top-60{
	margin-top: 60px;
}
.line-height-24{
	line-height: 24px;
}
.line-height-30{
	line-height: 30px;
}
.line-height-48{
	line-height: 48px;
}


.uk-form select, .uk-form textarea, .uk-form input:not([type]), .uk-form input[type="text"], .uk-form input[type="password"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], .uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], .uk-form input[type="number"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], .uk-form input[type="tel"], .uk-form input[type="color"] {
	border-radius: 0;
}
input[type].uk-form-large, select.uk-form-large{
	height:50px;
}

.uk-modal-dialog{
	width:520px;
}


.top-header-nav{
	background:rgb(17,17,17);
	padding:10px 0;
	text-align:right;
}
.top-header-nav ul li{
	padding: 0 0 0 10px;
	display:inline-block;
}

header.homepage{
	padding:60px 0;
}

header.homepage{
	background:#;
}
header.homepage{
	background:url('../img/index-header-banner.jpg') no-repeat top center fixed;
	background-size:cover;	
}

.uk-navbar {
	background: transparent; 
	color: #fff;
	border: none;
	border-bottom-color: transparent;
	border-radius: 0px;
	padding-bottom:30px;
}
.uk-navbar-brand{
	padding:0;
}
.uk-navbar-nav{
	padding-top:30px;
	margin-bottom: 150px;
}
.uk-navbar-nav>li{
	margin-left:35px;
}
.uk-navbar-nav>li>a {
	height: 40px;
	padding: 0px !important;
	line-height: 40px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
	text-shadow: none;
	border: none;    
}

.uk-dropdown{
	border-radius: 0;
}
.uk-nav-navbar>li>a{
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
	font-weight: 600;
}
.uk-nav-navbar>li>a:focus, .uk-nav-navbar>li>a:hover {
	background:transparent;
	color:#00b5d3;
}
header .uk-navbar-nav>li.uk-active>a {
	background-color: transparent;
	color:#00b5d3 !important;
}

html .uk-nav.uk-nav-offcanvas>li.uk-active>a {
	background:transparent;
	color: #00b5d3;
}
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a {
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	box-shadow: none;
	color:#00b5d3;
	background:transparent;
	cursor: pointer;
}
.uk-nav-offcanvas > li > a {
	color: #fff;
	padding: 10px 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
	text-shadow: none;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.uk-navbar-toggle {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	text-shadow:none;
	padding:0;
}
.uk-navbar-toggle:hover, .uk-navbar-toggle:focus {
	color: #fff;
	text-decoration: none;
	outline: none;
}
.uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover, html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus {
	background:transparent;
	color: #00b5d3;
	outline: none;
}
 .contact-num {
	background:#00B5D3;
	display:inline-block;
	padding:15px 30px;
	text-align:center;
	
}

#mobile-nav ul.uk-nav-sub {
    padding: 0px 0 5px 0px;
}
#mobile-nav .uk-nav ul.mobile-form{
    padding: 10px !important;
}
#mobile-nav .uk-button{
    background-color: #00b5d3;
    color: #fff;
    padding: 15px 30px;
    outline: none;
    border: 0;
    font-size: 17px;
}
header.homepage span{
	color:#00b5d3;
	text-align:center;
	display:block;
}
header.homepage span:before{
	content:open-quote;
}
header.homepage span:after{
	content:close-quote;
}
.uk-button-large{

}
header.homepage p a.uk-button {
	padding: 0 15px;
	line-height: 38px;
	font-size: 16px;
	border-radius: 0;
	background-color:#00b5d3 !important;
	color:#fff;
	padding:5px 30px;
	background-image: none;
}

.booking-form{
	background: #fff;
	padding:60px 0;
}
.booking-form input[type="submit"]{
	background-color:#00b5d3;;
	color:#fff;
	padding:15px 30px;
	outline:none;
	border:0;
	font-size:17px;
	text-transform: uppercase;
}
.how-it-works{
	background:rgba(35,35,35, 0.85);
	padding: 60px 0;
}
.how-it-works p{
	line-height: 24px;
}
.services{
	background-color: #00b5d3;
	padding:60px 0;
}
.services ul{
	text-align:left;
	line-height: 36px;
	font-weight: 300;
	font-size:23px;
	top:55px;
	position: relative;
	font-weight: 400;
}
.services ul li{
	list-style: none;
}
.services ul li span i.uk-icon-check{
	background:#fff;
	color: #4bc6dd;
	-webkit-border-radius:999px;
	-moz-border-radius:999px;
	-o-border-radius:999px;
	-ms-border-radius:999px;
	border-radius:999px;
	font-size:16px;
	width:24px;
	height:24px;
	margin-right:10px;
	text-align:center;
	line-height: 24px;
}
.cover-area{
	background:url('../img/world-map.png') no-repeat top center;
	padding: 97px 0;
}
.cover-area form{
	display:inline-block;
	text-align:center;
	background:rgb(35,35,35);
	padding:20px;
}
footer{
	background:rgb(35,35,35);
	padding: 60px 0;
}

footer ul{
	margin:0;
	padding:0;
}
footer ul li{
	list-style: none;
}
footer ul li a{
	color:#fff;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
footer ul li a:hover, footer ul li a:focus {
	color:#00b5d3;
	text-decoration: none;
}
footer ul.social-icon li{
	display: inline-block;
	font-size:16px;
	background:#fff;
	width:30px;
	height:30px;
	color:rgb(35,35,35);
	-webkit-border-radius:999px;
	text-align: center;
	line-height: 30px;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
footer ul.social-icon li a{
	color:rgb(35,35,35);

}
footer ul.social-icon li:hover{
	background-color:#00b5d3;
}
footer .uk-modal p::first-letter { 
	font-size: 20px;
	color:#00b5d3;
	font-weight: 600;
	margin-right: 5px;
}
/*about page style*/
header.aboutpage{
	padding:60px 0 150px 0;
}
header.aboutpage{
	background:url('../img/rate-card-banner.jpg') no-repeat top center fixed;
	background-size:cover;
}
.about-us{
	padding:60px 0;
}
.mission{
	background-color: #00b5d3;
	padding: 60px 250px;
}
.quality-policy{
	padding:60px 160px;
	background:url('../img/quality.jpg') no-repeat top center fixed;
}
.quality-policy ul{
	text-align:left;
	line-height: 24px;
	font-size:17px;
	font-weight: 400;
}
.quality-policy ol, .quality-policy ul {
	padding-left: 0;
}
.quality-policy ul li{
	list-style: none;
}
/*contact page style*/

header.contactpage{
	background:url('../img/contact-banner.jpg') no-repeat top center fixed;
	background-size:cover;
}
header.contactpage{
	padding:60px 0 150px 0;
}
.contact-us{
	padding:60px 0;
}
.contact-us input[type="submit"]{
	background-color:#00b5d3;;
	color:#fff;
	padding:15px 30px;
	outline:none;
	border:0;
	font-size:17px;
	text-transform: uppercase;
	float:right !important;
}
/*rate-card page style*/
header.rate-card{
	background:url('../img/rate-card-banner.jpg') no-repeat top center fixed;
	padding:60px 0 150px 0;
	background-size:cover;
}
.rate-card-detail{
	padding:60px 0;
}
table th{
	background:rgb(35,35,35);
	color:#fff;
}
table tr{
	border-bottom: 1px solid rgb(35,35,35);
}
.rate-card-detail ul li{
	text-align:left;
	line-height: 36px;
	font-weight: 300;
	font-size:17px;
	position: relative;
	font-weight: 400;
}
.rate-card-detail ol, .rate-card-detail ul {
	padding-left: 0;
}
.rate-card-detail ul li{
	list-style: none;
}
.rate-card-detail ul li span i.uk-icon-check{
	background:#4bc6dd;
	color: #fff;
	-webkit-border-radius:999px;
	-moz-border-radius:999px;
	-o-border-radius:999px;
	-ms-border-radius:999px;
	border-radius:999px;
	font-size:16px;
	width:24px;
	height:24px;
	margin-right:10px;
	text-align:center;
	line-height: 24px;
}

/*responsive classes starts*/

@media(max-width:307px){
	.uk-navbar-brand {
    padding: 0;
    top: -40px;
    position: relative;
	}

}

@media(max-width:479px){
	.font-size-48{
		font-size:38px;
	}
	.font-size-32{
		font-size:28px;
	}
	.font-size-20 {
		font-size: 17px;
	}
	.font-size-17{
		font-size:14px;
	}
	.margin-bottom-60{
		margin-bottom: 30px;
	}
	.margin-bottom-30{
		margin-bottom:24px;
	}
	.margin-bottom-20{
		margin-bottom: 12px;
	}
	.line-height-30{
		line-height: 24px;
	}
	.responsive-margin{
		margin-bottom: 25px;
	}
	header.homepage {
		padding: 30px 0;
	}
	header .header-title{
		margin-top: 90px;
	}
	header.homepage span {
    line-height: 40px;
}
	.inner-header-title{
		top:100px;
		position: relative;
	}
	header .header-title h1{
		line-height: 34px;
	}
	header .header-title h6{
		line-height:30px;
	}
	.booking-form{
		padding:30px 0;
	}
	.how-it-works {
		padding: 30px 0;
	}
	.services {
		padding: 30px 0;
	}
	.services ul {
		top:0;
		font-size:14px;
		line-height: 30px;
	}
	.services ul li span i.uk-icon-check {
		font-size: 13px;
		width: 20px;
		height: 20px;
		margin-right: 5px;
		text-align: center;
		line-height: 21px;
	}
	.cover-area{
		padding:30px 0;
	}
	footer{
		padding:30px 0;
	}

	/*aboutus responsive style*/
	.about-us{
		text-align:center;
	}
	.mission {
		padding: 30px 0px;
	}
	.quality-policy {
		padding: 30px 20px;
	}

	/*contact responsive style*/
	.contact-margin-bottom{
		margin-bottom: 17px;
	}

	/*booking form style*/
	header.booking-form-final{
		padding:60px 0 90px 0 !important;
	}
	.add-more-location{
	text-align: left !important;
}
}



@media(min-width:480px) and (max-width: 767px){
	.font-size-48{
		font-size:42px;
	}
	.font-size-32{
		font-size:30px;
	}
	.font-size-20 {
		font-size: 18px;
	}
	.font-size-17{
		font-size:15px;
	}
	.margin-bottom-60{
		margin-bottom: 40px;
	}
	.margin-bottom-30{
		margin-bottom:27px;
	}
	.margin-bottom-20{
		margin-bottom: 15px;
	}
	.line-height-30{
		line-height: 27px;
	}
	.responsive-margin{
		margin-bottom: 25px;
	}
	header.homepage {
		padding: 40px 0;
	}
	header .header-title{
		margin-top: 90px;
	}
	.inner-header-title{
		top:100px;
		position: relative;
	}
	header .header-title h1{
		line-height: 34px;
	}
	.booking-form{
		padding:40px 0;
	}
	.how-it-works {
		padding: 40px 0;
	}
	.services {
		padding: 40px 0;
	}
	.services ul {
		top:0;
		font-size:15px;
		line-height: 30px;
	}
	.services ul li span i.uk-icon-check {
		font-size: 14px;
		width: 21px;
		height: 21px;
		margin-right: 7px;
		text-align: center;
		line-height: 22px;
	}
	.cover-area{
		padding:30px 0;
	}
	footer{
		padding:30px 0;
	}
	/*aboutus responsive style*/
	.about-us{
		text-align:center;
	}
	.mission {
		padding: 40px 0px;
	}
	.quality-policy {
		padding: 40px 20px;
	}

	/*booking form style*/
	header.booking-form-final {
		padding: 60px 0 120px 0 !important;
	}
	.add-more-location{
	text-align: left !important;
}
}

@media(min-width:768px) and (max-width: 959px){
	.font-size-48{
		font-size:44px;
	}
	.font-size-32{
		font-size:31px;
	}
	.font-size-20 {
		font-size: 18px;
	}
	.font-size-17{
		font-size:16px;
	}
	.margin-bottom-60{
		margin-bottom: 50px;
	}
	.margin-bottom-30{
		margin-bottom:28px;
	}
	.margin-bottom-20{
		margin-bottom: 17px;
	}
	.line-height-30{
		line-height: 28px;
	}
	.responsive-margin{
		margin-bottom: 25px;
	}
	header.homepage {
		padding: 50px 0;
	}
	header .header-title{
		margin-top: 90px;
	}
	.inner-header-title{
		top:100px;
		position: relative;
	}
	header .header-title h1{
		line-height: 34px;
	}
	.booking-form{
		padding:50px 0;
	}
	.how-it-works {
		padding: 50px 0;
	}
	.how-work-line-height{
		line-height: 30px;
	}
	.services {
		padding: 50px 0;
	}
	.services ul {
		top:0;
		font-size:18px;
		line-height: 30px;
	}
	.services ul li span i.uk-icon-check {
		font-size: 15px;
		width: 22px;
		height: 22px;
		margin-right: 10px;
		text-align: center;
		line-height: 23px;
	}
	.cover-area{
		padding:50px 0;
	}
	footer{
		padding:50px 0;
	}

	/*aboutus responsive style*/
	.about-us{
		text-align:left;
	}
	.mission {
		padding: 50px 0px;
	}
	.quality-policy {
		padding: 50px 20px;
	}
	header.booking-form-final {
		padding: 60px 0 120px 0 !important;
	}
		.add-more-location{
	text-align: left !important;
}
}
@media(min-width:960px){
	.services ul{
		top:0;
	}
	.add-more-location a{
		background:#00b5d3;
		color:#fff;
		padding:15px 30px;
		display:inline-block;
		min-width: 140px !important;
		font-size:14px !important;
	}
}









header.booking-form-final{
	background:rgb(35,35,35);
	padding:60px 0 0 0;
}
.booking-form-detail{
	padding:60px 0;
}
.add-more-location{
	text-align: right;
}
.add-more-location a{
	background:#00b5d3;
	color:#fff;
	padding:15px 30px;
	display:inline-block;
	min-width: 168px;
	font-size:17px;
}
.add-more-location a:hover, .add-more-location a:focus {
	color:#fff;
	text-decoration: none;
}
.booking-detail{
	border: 1px solid #ddd;
	padding:15px;
	background: #fbfcfc;
}
p.distance:before{
	content: "\f018";
	font-family:'fontawesome';
	margin-right: 5px;
}

p.rupee:before{
	content: "\f156";
	font-family:'fontawesome';
	margin-right: 5px;
}
#map {
	width: 100%;
	height: 350px;
}

.booking-form-detail p a.uk-button {
	padding: 0 15px;
	line-height: 38px;
	font-size: 16px;
	border-radius: 0;
	background-color: #00b5d3 !important;
	color: #fff;
	padding: 5px 30px;
	background-image: none;
}


.booking-form-detail p button.uk-button {
	padding: 0 15px;
	line-height: 38px;
	font-size: 16px;
	border-radius: 0;
	background-color: #00b5d3 !important;
	color: #fff;
	padding: 5px 30px;
	background-image: none;
}

#login-popup .uk-modal-footer input[type="submit"], #registration-popup .uk-modal-footer input[type="submit"], #forget-password  .uk-modal-footer input[type="submit"], #otp .uk-modal-footer button {
	background-color: #fff;
	color: #00b5d3;
	padding: 15px 30px;
	outline: none;
	border: 0;
	font-size: 17px;
	text-transform: uppercase;
	float:right;
	font-weight: 600;
}

#login-popup .uk-modal-footer p a, #registration-popup .uk-modal-footer p a, #forget-password  .uk-modal-footer p a{
	color:#fff;
}
#login-popup .uk-modal-footer p a:hover, #login-popup .uk-modal-footer p a:focus, #registration-popup .uk-modal-footer p a:hover, #registration-popup .uk-modal-footer p a:focus{
	text-decoration: none;
}

/*registration page*/
.user-registration{
	padding:60px 0;
}
.uk-modal-header {
	margin-bottom: 15px;
	margin: -20px -20px 15px -20px;
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 0;
	background: #00b5d3;
}

.uk-modal-footer {
	margin-top: 15px;
	margin: 15px -20px -20px -20px;
	padding: 20px;
	border-top: 1px solid #e5e5e5;
	border-radius: 0;
	background: #00b5d3;
}

.uk-modal-dialog>.uk-close:first-child {
	margin: 0; 
	float: right;
}
.uk-form>:last-child {
	margin-bottom: 0 !important;
}


/*track order*/
.track-order{
	padding:60px 0;
}
.track-order input[type="submit"] {
	background-color: #00b5d3;
	color: #fff;
	padding: 15px 30px;
	outline: none;
	border: 0;
	font-size: 17px;
	text-transform: uppercase;
	float:right;
}

/*track order ends*/

.uk-switcher{
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 25px 12px;
}

.uk-tab>li>a{
	color:#444;
	padding: 20px 12px 20px 12px;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	transition:all 0.25s ease;
}

.uk-tab>li>a:hover, .uk-tab>li.uk-active>a {
	border-color: #ddd;
	/*background: #00b5d3;*/
	color: #00b5d3;
	outline: 0;
	
	background:white;
}
.uk-tab>li.uk-open:not(.uk-active)>a, .uk-tab>li:not(.uk-active)>a:focus, .uk-tab>li:not(.uk-active)>a:hover {
	margin-bottom: 1px;
	padding-bottom: 20px;
}


.uk-nav>li>a {
    padding: 10px 20px;
}


/*.uk-tab>li>a {
display: block;
padding: 15px 12px 15px 12px;
}*/















/*header drop down plus and minus symbol style starts*/


.uk-nav-parent-icon>.uk-parent>a:after {
    content: "\f067";
}
.uk-nav-parent-icon>.uk-parent.uk-open>a:after {
    content: "\f068";
}

/*header drop down plus and minus symbol style ends*/

.uk-form-icon>[class*=uk-icon-] {
    position: absolute;
    top: 50% !important;
    width: 30px;
    margin-top: -8px;
    font-size: 14px;
    color: #999;
    text-align: center;
    pointer-events: none;
}




.uk-navbar-nav{
	padding-top:25px;
	margin-bottom: 50px !important;
}


header.homepage{
	padding:0px 0px 0px 0!important;
}